<div class="container py-5">
  <div class="row col-md-10 mx-auto text-center landing-block mt-5 pt-5">
    <div class="col-md-4 p-5">
      <div class="card p-5" (click)="gotoFunctions();"><i class="fa fa-american-sign-language-interpreting fa-3x"
          aria-hidden="true"></i>
        <h6 class="card-title mt-3">Functions</h6>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card p-5" (click)="gotoAmounts();"><i class="fa fa-suitcase fa-3x" aria-hidden="true"></i>
        <h6 class="card-title mt-3">Amounts</h6>
      </div>
    </div>
    <div class="col-md-4 p-5">
      <div class="card p-5" (click)="gotoMembers();"><i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <h6 class="card-title mt-3">Members</h6>
      </div>
    </div>
  </div>
</div>
